[core]
    editor = vim
    excludesfile = ~/.gitignore
[color]
    ui = true
[diff]
    algorithm = patience
[alias]
    mgl = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit

    fap = fetch --all --prune

    pom = push origin master
    pod = push origin develop
    pt = push --tags

    suir = submodule update --init --recursive

    ff = flow feature
    ffs = flow feature start
    fff = flow feature finish
    fr = flow release
    frs = flow release start
    frf = flow release finish

    s = status
    c = commit
    ca = commit --all
    cam = commit --amend
    caam = commit --all --amend

# This performs a shell command bound to a git alias.
# See: http://blogs.atlassian.com/2014/10/advanced-git-aliases/
    flow-push = "!f() {          \
        git push origin master;  \
        git push origin develop; \
        git push --tags;         \
    }; f"

    flow-quick-release = "!f() {\
        local release=${1:?Must provide tag as only argument};\
        git checkout master  && git pull &&\
        git checkout develop && git pull &&\
        git flow release start ${release} &&\
        git flow release finish --nobackmerge --message ${release} ${release} &&\
        git checkout develop;\
    }; f"
[push]
    default = tracking

# vim: set ai et sw=4 syntax=gitconfig :
