[submodule "zsh/antigen"]
	path = zsh/antigen
	url = git://github.com/zsh-users/antigen.git
[submodule "zsh/packages/fasd"]
	path = zsh/packages/fasd
	url = git://github.com/clvv/fasd.git
[submodule "irssi/scripts/wertarbyte"]
	path = irssi/scripts/wertarbyte
	url = git://github.com/wertarbyte/irssi-scripts.git
[submodule "irssi/scripts/libnotify"]
	path = irssi/scripts/libnotify
	url = https://code.google.com/p/irssi-libnotify/
[submodule "irssi/scripts/znxster"]
	path = irssi/scripts/znxster
	url = git://github.com/znxster/irssi-scripts.git
[submodule "fonts/packages/powerline-fonts"]
	path = fonts/packages/powerline-fonts
	url = git://github.com/Lokaltog/powerline-fonts.git
[submodule "powerline/packages/powerline"]
	path = powerline/packages/powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "irssi/irssi-colors-solarized"]
	path = irssi/irssi-colors-solarized
	url = git://github.com/huyz/irssi-colors-solarized.git
