[submodule "zsh/packages/fasd"]
	path = zsh/packages/fasd
	url = git://github.com/clvv/fasd.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-dart"]
	path = vim/bundle/vim-dart
	url = git://github.com/bartekd/vim-dart.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "zsh/packages/mate-terminal-colors-solarized"]
	path = zsh/packages/mate-terminal-colors-solarized
	url = git://github.com/michelefoga/mate-terminal-colors-solarized.git
[submodule "vim/bundle/vim-xpath"]
	path = vim/bundle/vim-xpath
	url = git://github.com/actionshrimp/vim-xpath.git
